
/* This file is where your CSS goes. When you start adding CSS, feel free to delete this comment */
h1
{
font-size: 64px;
}


.sectionheading
{
color: #ffa500;
font-size: 64px;
text-align: center;
padding-top: 20px;
font-weight: bold;
text-decoration: underline overline wavy orange;
}

.playbutton
{
background-color: #800080;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.playbutton:hover {
  background-color: #ffff00;
  color: #800080;
}

.orange
{
    background-color: rgba(255,165,0, 1)
}

.white
{
    color: rgba(255,255,255, 1)
}

.lefthero
{

}

.righthero h2
{
font-size: 100px;
}

.righthero
{
text-align: center;
padding-top: 100px;
}

.sprinkles
{
margin: 200px 200px 200px 200px;
}

.centertext
{
text-align: center;
padding-bottom: 10px;
}

.spin
{
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
  margin-top: 20px;
}

.spin:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

img
{
width: 100%;
}



.zoom {
    padding: 50px;
    background-color: red;
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.zoomtwo {
transition: transform .2s; /* Animation */

}

.zoomtwo:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.transparent
{
    background-color: rgba(255, 255, 0, 0.8)
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    float: left;
    padding: 20px 80px;
}

    li a:hover {
    background-color: #800080;
    padding: 10px;
    text-decoration-style: underline wavy;
}

a {
    display: inline-flex
    padding: 20px;
    background-color: none;
}

.active {
    background-color: #4CAF50;
}

.twenty
{
    width: 15%;
    height: 15%;
    padding-bottom: 20px;
}

.randompersonDisplay
{
    color: blue;
}


footer
{
    background: orange;
    padding: 40px;
    margin: 20px 0px;
}
