
/* This file is where your CSS goes. When you start adding CSS, feel free to delete this comment */


.orange
{
    background-color: rgba(255,165,0, 1)
}

.white
{
    color: rgba(255,255,255, 1)
}

.lefthero
{

}

.righthero h2
{
font-size: 100px;
}

.sprinkles
{
margin: 100px 100px 100px 100px;
}

.centertext
{
text-align: center;
}

img
{
width: 100%;
}

.transparent
{
    background-color: rgba(0, 0, 0, 0.8)
}


.zoom {
    padding: 50px;
    background-color: red;
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
float: left;
padding: 20px 120px;
}

    li a:hover {
    background-color: #111;
}

a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

.active {
    background-color: #4CAF50;
}
footer
{
    background: orange;
    padding: 40px;
    margin: 20px 0px;
}
